.name{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    width: 150px;
}
.whole{
    background-color: black;
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    width: 100%;
}
.a{
    text-decoration: none;
}
.logo{
    /* border: 1px solid red; */
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    height: 55px;
}
.img{
    margin-left: 5px;
}
.home:hover{
    background-color: rgba(65, 64, 64, 0.998);
}
.home{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
}
.about:hover{
    background-color: rgba(65, 64, 64, 0.998);
}
.about{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
}
#sea{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    font-weight: bold;
    margin-left: 600px;
    margin-top: 10px;
    /* height: 55px; */
    border: 2px solid white;
    background-color: black;
}
#search{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    /* color: white; */
    font-weight: bolder;
    margin-left: 8px;
    margin-top: 6.7px;
    border-radius: 10px;
    border: 2px solid rgb(64, 202, 244);
}