@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.name{
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    width: 150px;
}
.whole{
    /* background-color: #f86587; */
    background-image:  linear-gradient(to right, #f86587, rgb(238, 49, 96));
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 2px;
    width: 100%;
}
.a{
    text-decoration: none;
}
.logo{
    /* border: 1px solid red; */
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    height: 55px;
}
.img{
    margin-left: 5px;
}
.home:hover{
    background-color: rgba(246, 123, 142, 0.998);
}
.home{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 10px;
    height: 55px;
    width: 100px;
    
}
#home{
    text-decoration: none;
    color: black;
}
#item{
    text-decoration: none;
    color: black;
}
#about{
    text-decoration: none;
    color: black;
}
.item:hover{
    background-color: rgba(246, 123, 142, 0.998);
}
.item{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 10px;
    height: 55px;
    width: 100px;
}
.about:hover{
    background-color: rgba(246, 123, 142, 0.998);
}
.about{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
    padding-top: 12px;
    padding-left: 27px;
    padding-right: 10px;
    height: 55px;
    width: 100px;
}
#sea{
    font-family: 'Dancing Script', cursive;
    font-size: large;
    color: black;
    font-weight: bold;
    margin-left: 600px;
    margin-top: 12px;
    /* height: 55px; */
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: #f86587; */
    background-image:  linear-gradient(to right, #F03C68, #EF3563); ;
}
#search{
    font-family: 'Dancing Script', cursive;
    font-size: large;
    /* color: white; */
    font-weight: bolder;
    color: black;
    margin-left: 8px;
    margin-top: 6.7px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}
#search:hover{
    background-color:rgba(246, 123, 142, 0.998);
}
.searchbar{
    position: absolute;
    right:10px;
    display: flex;
}
#sea:hover{
    margin-top: 8.2px;
    height: 40px;
    padding-bottom: 4px;
}
#sea::placeholder{
    color:rgb(30, 30, 30);
}